{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp"
      ]
    },
    "mcp-sequentialthinking-tools": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "mcp-sequentialthinking-tools"
      ]
    },
    "mcp-omnisearch": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "mcp-omnisearch"
      ],
      "env": {
        "TAVILY_API_KEY": "<your-tavily-api-key>",
        "BRAVE_API_KEY": "<your-brave-api-key>",
        "PERPLEXITY_API_KEY": "<your-perplexity-api-key>",
        "JINA_AI_API_KEY": "<your-jina-ai-api-key>",
        "FIRECRAWL_API_KEY": "<your-firecrawl-api-key>"
      }
    }
  }
}
